Amazon/Key Words/*
Amazon/Key Words/*
Amazon/OriginalData/*
Amazon/ResultsData/*
Amazon/Tool/ForToolKit.html

AliExpress/1688/*
AliExpress/1688/OriginalData/*
AliExpress/ResultData/ProductImage/*

.idea/*

titleList/*